:root {
  --main-bg-color: #6366f1;
  --secondary-bg-color: #818cf8;
  --tertiary-bg-color: #a5b4fc;
}


h1{
  color: var(--main-bg-color);
}

h6{
  font-weight:200;
}

body {
  font-family: Poppins, italic;
}

/* Login */

.main{
  min-height: 100vh;
  padding: 0% 10%;
}

.img-login{
  width: 600px;
  height: 600px;
  margin-top: 200px;
  
}

/* Footer */

.main-footer div{
  background-color: rgb(247, 246, 246);
  font-size: 0.8rem;
}

.main-footer a{
  text-decoration: none;
}

/* Input */

.form-check-input:focus {
  border-color: white;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #a5b4fc;
}
.form-check-input:checked {
  background-color: var(--secondary-bg-color);
  border-color: var(--secondary-bg-color);
}

.form-control:focus {
  color: #212529;
  background-color: #fff;
  border-color: #a5b4fc;
  outline: 0;
  box-shadow: 0 0 0 0.25rem #a5b4fc;
}

/* Button */

.btn-login {
  color: white;
  background-color: var(--secondary-bg-color);
  border: none;
  transition: 0.1s;
  box-shadow: 0px 5px 10px #818cf8;
  border-radius: 5px;
  width: 25%;
  height: 40px;
}
.btn-login:hover {
  color: #fff;
  background-color: var(--main-bg-color);
  border-color: var(--main-bg-color);
  transform: scale(1.05);
  transition: 0.1s;
}

/* @ Mediaquerys */

@media only screen and (max-width: 1398px) {

  /* @ Login */

  .main{
    margin: 10px;
    padding: 10px;
  }
  .box-image{
    display: none !important;
  }

  .btn-login{
    width: 100%;
  }
}